{{!-- Loop over each object in the posts array --}}
{{#each posts}}
<div class="row mb-4 post">
  <div class="">
    <h2>
      {{!-- Use link-to helper to generate the anchor tag --}}
      {{#link-to 'post' this.id}}
        {{tittle}}
      {{/link-to}}
    </h2>
    <p>Created by {{user.name}} on {{format_date createdAt}}</p>
  </div>
  <div class="">
    <p>
      {{body}}
    </p>
  </div>
</div>
{{/each}}
